<mat-vertical-stepper [linear]="true">
  <form [formGroup]="questionnaireForms">
    <mat-step *ngFor="let section of questionnaire; index as i" [stepControl]="questionnaireForms">
      <ng-template matStepLabel>{{section.category | uppercase}}</ng-template>
      <mat-card>
        <mat-card-content>
          <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;grid-gap: 12px;">

            <div *ngFor="let question of section.questions; index as j">
              <mat-card style="width: 300px; height: 190px;">
                <mat-card-subtitle class="question-headline">{{question.question}}</mat-card-subtitle>
                <textarea style="height: 100px; width: 300px;" type=" text" [value]="question.answer"></textarea>
              </mat-card>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions class="button-collection">
          <button *ngIf="i > 0" mat-flat-button matStepperPrevious color="primary" class="back-button">
            <mat-icon>navigate_before</mat-icon>
            Back
          </button>
          <button mat-flat-button matStepperNext color="primary" class="next-button">
            Next
            <mat-icon>navigate_next</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-step>
    <mat-step label="DONE" [stepControl]="questionnaireForms">
      <mat-card>
        <mat-card-title class="question-headline">Fragebogen abgeschlossen</mat-card-title>
        <mat-card-actions class="button-collection">
          <button mat-flat-button matStepperPrevious color="primary" class="back-button">
            <mat-icon>navigate_before</mat-icon>
            Back
          </button>
          <button mat-flat-button color="primary" class="next-button" (click)="submitForm()">Abschicken</button>
        </mat-card-actions>
      </mat-card>
    </mat-step>
  </form>
</mat-vertical-stepper>