<div style="height: 100%;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="center-headline">{{headline}}</span>
      <mat-menu #settings>
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Help</button>
        <button mat-menu-item (click)="this.createPDF()">Save as PDF</button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="settings">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-drawer-container fxFlexFill>
    <mat-drawer mode="side" #sidenav>
      <mat-nav-list>
        <a routerLink="home" routerLinkActive="active" mat-list-item>
          <i class="material-icons-two-tone icon-space">home</i>
          Start
        </a>

        <!-- <a routerLink="innovation-process" routerLinkActive="active" mat-list-item
          (click)="innovation = !innovation">Placeholder 4</a>
        <div [hidden]="innovation">
          <mat-nav-list class="sub-menu">
            <a routerLink="understand" routerLinkActive="active" mat-list-item>Placeholder 5</a>
          </mat-nav-list>
        </div> -->

        <!-- <a routerLink="canvas-pool" routerLinkActive="active" mat-list-item (click)="pool = !pool">
          Placeholder 6
        </a>
        <div [hidden]="pool">
          <mat-nav-list class="sub-menu">
            <a routerLink="bmcanvas-list" routerLinkActive="active" mat-list-item>Business Model Canvas</a>
          </mat-nav-list>
        </div> -->

        <a routerLink="questionnaire" routerLinkActive="active" mat-list-item>
          <i class="material-icons-two-tone icon-space">star</i>
          Trust-Build-Canvas Self-Service</a>

      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content id="main-content" fxFlexFill>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>