<div style="height: 100;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="center-headline">{{headline}}</span>
      <mat-menu #settings>
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Help</button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="settings">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-drawer-container fxFlexFill>
    <mat-drawer mode="side" #sidenav>
      <mat-nav-list>
        <a routerLink="home" routerLinkActive="active" mat-list-item>
          <i class="material-icons-two-tone icon-space">home</i>
          Start
        </a>

        <a routerLink="trust-build-canvas" routerLinkActive="active" mat-list-item (click)="this.switchToTbc()">
          <i class="material-icons-two-tone icon-space">star</i>
          Trust Build Canvas
        </a>
        <div [hidden]="projects">
          <mat-nav-list class="sub-menu">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <i class="material-icons-two-tone icon-space">add</i>
                    Neues Projekt
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- New projects to choose from -->
                <a routerLink="ecosystem-radar" routerLinkActive="active" mat-list-item>Placeholder 1</a>
                <a routerLink="new-dashboard" routerLinkActive="active" mat-list-item>Placeholder 2</a>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Placeholder 3
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- Projects loaded from backend could be displayed here -->
                <a routerLink="created-dashboard" routerLinkActive="active" mat-list-item
                  (click)="subCanvas = !subCanvas">Dashboard</a>
                <div class="sub-sub-menu" [hidden]="subCanvas">
                  <a routerLink="mvp" routerLinkActive="active" mat-list-item>Placeholder</a>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-nav-list>
        </div>

        <a routerLink="innovation-process" routerLinkActive="active" mat-list-item
          (click)="innovation = !innovation">Placeholder 4</a>
        <div [hidden]="innovation">
          <mat-nav-list class="sub-menu">
            <a routerLink="understand" routerLinkActive="active" mat-list-item>Placeholder 5</a>
          </mat-nav-list>
        </div>

        <a routerLink="canvas-pool" routerLinkActive="active" mat-list-item (click)="pool = !pool">
          Placeholder 6
        </a>
        <div [hidden]="pool">
          <mat-nav-list class="sub-menu">
            <a routerLink="bmcanvas-list" routerLinkActive="active" mat-list-item>Business Model Canvas</a>
          </mat-nav-list>
        </div>

        <a routerLink="questionnaire" routerLinkActive="active" mat-list-item>Business Model Fragebogen</a>

      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>