mat-form-field {
  width: 70%;
  height: auto;
}
textarea {
  height: 100px;
}
.tiles {
  // border: 1px solid #555;
  // background-color: rgb(248, 245, 245);
  // background-color: rgb(227, 237, 241);
  background-color: rgb(248, 253, 255);
}